@reference "tailwindcss";

body {
  background-color: #191919;
  color: white;
}

.icon-color {
  color: gray;
}

.timer-card {
  @apply
    flex
    flex-col
    items-center
    justify-center
    min-w-37.5
    p-2.5
    text-white
    bg-gray-500/20;
  font-family: "Oswald Variable", sans-serif;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.timer-font-number {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

input[type="number"].show-spinner {
  color-scheme: dark;
  width: 40px;
  /* margin-right: 5px; */
  padding-left: 4px;
}

input[type="number"].show-spinner::-webkit-inner-spin-button,
input[type="number"].show-spinner::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
  cursor: pointer;
}
