@reference "tailwindcss";

html, h1, h2, h3, h4, p, span {
  line-height: 1;
}

body {
  background-color: #191919;
  color: white;
  font-family: "Montserrat Variable", sans-serif;
}

.icon-color {
  color: gray;
}

input[type="number"].show-spinner {
  color-scheme: dark;
  width: 40px;
  /* margin-right: 5px; */
  padding-left: 4px;
}

input[type="number"].show-spinner::-webkit-inner-spin-button,
input[type="number"].show-spinner::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

button {
  cursor: pointer
}