@reference "tailwindcss";

body {
  background-color: #191919;
  color: white;
  font-family: 'Montserrat Variable', sans-serif;
}

.icon-color {
  color: gray;
}

input[type="number"].show-spinner {
  color-scheme: dark;
  width: 40px;
  /* margin-right: 5px; */
  padding-left: 4px;
}

input[type="number"].show-spinner::-webkit-inner-spin-button,
input[type="number"].show-spinner::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
  cursor: pointer;
}

.pomo-middle-time {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
